{% extends "IT/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="card shadow-lg p-4" style="text-align: center;">
            <h1 class="text-center text-primary">About this website</h1>

     <p style="margin-top: 25px; text-align: center; max-width: 600px; margin-left: auto; margin-right: auto;">
Our app aims to create a platform where Chinese students and lovers of Chinese
cuisine can explore, discuss, and share their thoughts on nearby Chinese restaurants.
Users will have access to a list of nearby Chinese restaurants, which can be sorted
by category from best to worst. The app also allows users to view the exact
locations of these restaurants directly within the platform.
By creating an account, users can leave ratings and reviews for their favorite
Chinese restaurants and browse feedback shared by others.
Chinese restaurant owners can showcase their establishments on the platform by
uploading details, including photos and descriptions, and gain insights into
customer opinions about their restaurants.
</p>

                <h5 class="text-center text-primary">email：contact@GROUP126.com</h5>

        </div>
    </div>
{% endblock %}

